.promo {
  position: relative;
  display: flex;
}

.promo__block {
  max-width: 300px;
  width: 100%;
  padding: 100px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__item {
  z-index: 1;
}

.promo__title {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  line-height: 68px;
}

.promo__btn {
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  border-radius: 29px;
  padding: 17px 32px 17px 31px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.3px;
  margin: 35px 0 67px;
  cursor: pointer;
  z-index: 1;
}

.promo__btn:hover {
  background-color: #fff;
  color: #D22856;
}

.promo__btn:active {
  color: rgba(210, 40, 86, 0.1);
}

.promo__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 35.5px;
}

.promo__subtitle {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 49px 0 110px;
  text-align: center;
}

.promo__bg {
  position: absolute;
  right: -125px;
  bottom: -15px;
  z-index: 0;
}

/* Catalog */

.promo-catalog {
  display: flex;
  justify-content: center;
}

.promo-catalog__title {
  margin: 60px 0 74px 0;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 357px;
}

.promo-form__title {
  max-width: 747px;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 59px 0 89px;
}