.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 27px 0 43px;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header__block {
  display: flex;
  gap: 173px;
  align-items: center;
}

.header__list {
  display: flex;
  list-style-type: none;
  margin: 16px 0 0 0;
  padding: 0;
  gap: 79px;
  flex-wrap: wrap;
}

.header__link {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__link:hover {
  color: #D22856;
}

.header__link:active {
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
}

.header__choosen {
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
}

.header__choosen:hover {
  border-bottom: 2px solid #D22856;
}